{% extends 'base.html' %}
{% block title %}
    Авторизация :: {{ block.super }}
{% endblock title %}

{% block sidebar_left %}
{% include 'inc/_sidebar_left.html' %}
{% endblock sidebar_left %}

{% block sidebar_right %}
{% include 'inc/_sidebar_right.html' %}
{% endblock sidebar_right %}


{% block content %}
<h1> Авторизация </h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block"> Авторизация </button>
</form>
{% endblock content %}