{% extends 'base.html' %}

{% block title %}
    Популярные посты : {{ block.super }}
{% endblock title %}


{% block content %}
    <h1> Пять самых популярных постов</h1>
    {% for post in posts %}
    <div class="card mb-3" >
      <div class="card-header">
        Категория: <a href="{{ post.category.get_absolute_url }}"> {{ post.category }} </a>
      </div>
      <div class="card-body">
        <div class="media">
          {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="" width="350" class="mr-3" align="left" hspace="10">
          {% endif %}
          <div class="media-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content|truncatewords:50 }}</p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
          {{ post.created_at|date:'d.m.Y' }}
          <br>Автор: {{ post.author }} </a> </br>
          Количество просмотров: {{ post.views }}
      </div>
    </div>
    {% endfor %}
{% endblock content %}


