{% extends 'base.html' %}

{% block title %} Поиск : {{ block.super }}{% endblock %}


{% block content %}
    {% for post in posts %}
    <div class="card mb-3" >
      <div class="card-header">
        Категория: <a href="{{ post.category.get_absolute_url }}"> {{ post.category }} </a>
      </div>
      <div class="card-body">
        <div class="media">
          {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="" width="350" class="mr-3" align="left" hspace="10">
          {% endif %}
          <div class="media-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content|truncatewords:50 }}</p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
          {{ post.created_at|date:'d.m.Y' }}
          <br>Автор: {{post.author}} </a> </br>
          Количество просмотров: {{ post.views }}
      </div>
    </div>
    {% empty %}
        <p>По вашему запросу ничего не найдено</p>

    {% endfor %}
{% endblock content %}


   {% block pagination %}
             {% if page_obj.has_other_pages %}

                  <nav aria-label="...">
                      <ul class="pagination">

                        {% if page_obj.has_previous %}
                          <li class="page-item">
                             <a class="page-link" href="?{{ s }}page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                          </li>
                          {% endif %}

                          {% for p in page_obj.paginator.page_range %}

                                {% if page_obj.number == p %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}
                                    <span class="sr-only"></span></a>
                                </li>
                                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3  %}
                                <li class="page-item">
                                    <a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}</a>
                                </li>
                                {% endif %}

                          {% endfor %}

                          {% if page_obj.has_next %}
                          <li class="page-item">
                             <a class="page-link" href="?{{ s }}page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
                          </li>
                          {% endif %}
                          {% endif %}
                          {% endblock pagination %}