{% extends 'base.html' %}

{% block sidebar_left %}
{% include 'inc/_sidebar_left.html' %}
{% endblock sidebar_left %}

{% block sidebar_right %}
{% include 'inc/_sidebar_right.html' %}
{% endblock sidebar_right %}

{% block content %}
<div class="card mb-3">
      <div class="card-header">
        Категория: <a href="{{ post.category.get_absolute_url }}"> {{ post.category }} </a>
      </div>
      <div class="card-body">
        <div class="media">
          {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="" width="350" class="mr-3" align="left" hspace="10">
          {% endif %}
          <div class="media-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
            {{ post.created_at }}
          <br>Автор: <a href="{% url 'author' %}">{{ post.author }}</a></br>
          Количество просмотров: {{ post.views }}
      </div>
    </div>
              Теги:
          {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">#{{ tag.title }}</a>
          {% endfor %}

    {% if post.author == request.user %}
        <div class="container mt-3">
            <a href="{% url 'update_post' slug=post.slug %}" class="btn btn-primary">Редактировать пост</a>
            <a href="{% url 'delete_post' slug=post.slug %}" class="btn btn-danger">Удалить пост</a>
        </div>
    {% endif %}

{% if request.user.is_authenticated %}
    <p>Добавить комментарий</p>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block"> Добавить </button>
        </form>

{% endif %}

    <p><b>Комментарии</b> ({{ post.comments.all.count }})</p>
    {% for comment in post.comments.all %}

<div class="card-header">
    <b>{{ comment.author }}</b> {{ comment.created_at }}
      </div>
      <div class="card-body">
        <div class="media">
          <div class="media-body">
          <p class="card-text">{{ comment.body }}</p>
          </div>
        </div>
      </div>

    {% endfor %}

{% endblock content%}

